.git
.github
.env
.env.*
!.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/*.key
bootstrap/cache/*.php
tests
docs
*.md
.editorconfig
.gitattributes
.gitignore
.idea
.vscode
.DS_Store
docker-compose*.yml
Dockerfile
